@font-face {
  font-family: "Ravi Prakash", cursive;
  src: url('https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap" rel="stylesheet');
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
}

html body {
  margin: 0px 0px;

  height: 100vh;
  width: 100vw;

  font-family: "Ravi Prakash", cursive;

  font-weight: 600;
  font-size: 10px;
  font-style: normal;

  text-align: center;
  text-transform: uppercase;
  color: #ff0000;

  background-color: #484848;
}

.title {
  display: flex;

  justify-content: space-between;
  align-items: center;

  height: 100px;
  width: 100%;

  background: #212121;
  text-transform: none;

  font-weight: 900;
  font-size: 30px;
  line-height: 59px;
}
.title p {
  opacity: 56%;
  margin-left: 5%;
}

.taskPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 17px;
}

.buttonAdd {
  margin-right: 10px;
  width: 28px;
  height: 23px;
  border-radius: 30px;
  border: 1px solid bl;
  background-color: #9d9090;
  font-size: 20px;
  margin-right: 5%;
}
.buttonAdd:hover {
  background-color: #c5b8b8;
}
