# Database config
export DB_USER=vasek
export DB_PASS=tommy
export DB_HOST=localhost
export DB_PORT=5432
export DB_NAME=app

# Postgres URL
export DB_URL=postgresql://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_NAME

# Api config
export API_PORT=5000
export API_HOST=localhost
